In [23]:
# 2018 Kaggle ML & DS Survey Challenge
## Autor: Jairo Andres Saavedra Alfonso 
## Universidad de Los Andes 
## Primera para Final de Metodos Computacionales Avanzados

## ¿Que tan bueno para la economia de un estudiante es saber de ML en latinoamerica?
### Para responder esta pregunta se trato mediante diferentes tecnicas de ML para ver si se puede ajustar un modelo mediante los datos disponibles en el 2018 Kaggle ML & DS Survey Challenge. 
### El modelo que mejor se ajuste nos dara un aproximado de cuanto puede ganar una persona en Latinoamerica dependiendo de: su sexo, Edad, Ultimo Nivel academico logrado, Paiz, Numero de Años de Experiencia y Numero de lenguajes de programacion que maneja

In [24]:
### Primero que todo se realiza la debida importacion de las librerias a usar
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.linear_model
import sklearn.model_selection
import sklearn.preprocessing
import scipy.integrate
import sklearn.discriminant_analysis
import sklearn.ensemble
import sklearn.tree
import itertools
import sklearn.tree
import sklearn.metrics

In [25]:
### Se cargan los datos a trabajar los cuales son multipleChoiceResponses.csv extraidos de https://www.kaggle.com/kaggle/kaggle-survey-2018#multipleChoiceResponses.csv
names=['Q1','Q2','Q3','Q4','Q8','Q9','Q16_Part_1','Q16_Part_2','Q16_Part_3','Q16_Part_4','Q16_Part_5','Q16_Part_6','Q16_Part_7','Q16_Part_8','Q16_Part_9','Q16_Part_10','Q16_Part_11','Q16_Part_12','Q16_Part_13','Q16_Part_14','Q16_Part_15','Q16_Part_16'
,'Q16_Part_18']
data=pd.read_csv('multipleChoiceResponses.csv',usecols=names)
data=data.iloc[1:,:]
print(data)

                      Q1     Q2  \
1                 Female  45-49
2                   Male  30-34
3                 Female  30-34
4                   Male  35-39
5                   Male  22-24
6                   Male  25-29
7                   Male  35-39
8                   Male  18-21
9                   Male  25-29
10                  Male  30-34
11                  Male  22-24
12                  Male  40-44
13                  Male  25-29
14                  Male  25-29
15                Female  25-29
16                  Male  25-29
17                  Male  40-44
18                  Male  25-29
19                  Male  35-39
20                  Male  55-59
21                Female  30-34
22                Female  25-29
23                  Male  30-34
24                Female  25-29
25                  Male  30-34
26                  Male  25-29
27                  Male  30-34
28                Female  30-34
29                Female  40-44
30                Female  25-29
...                  ...    ...
23830               Male  45-49
23831             Female  18-21
23832               Male  35-39
23833               Male  18-21
23834               Male  18-21
23835             Female  25-29
23836               Male  25-29
23837             Female  22-24
23838  Prefer not to say  40-44
23839               Male  22-24
23840             Female  25-29
23841             Female  22-24
23842               Male  18-21
23843               Male  50-54
23844               Male  30-34
23845               Male  22-24
23846             Female  18-21
23847               Male  25-29
23848               Male  40-44
23849               Male  25-29
23850             Female  18-21
23851               Male  22-24
23852             Female  18-21
23853             Female  30-34
23854               Male  30-34
23855               Male  45-49
23856             Female  25-29
23857               Male  22-24
23858               Male  25-29
23859               Male  25-29

                                                      Q3  \
1                               United States of America
2                                              Indonesia
3                               United States of America
4                               United States of America
5                                                  India
6                                               Colombia
7                                                  Chile
8                                                  India
9                                                 Turkey
10                                               Hungary
11                                               Ireland
12                              United States of America
13                                                France
14                              United States of America
15                                             Argentina
16                                                 Japan
17                                              Colombia
18                                               Nigeria
19                              United States of America
20                                                 Spain
21                                                 Other
22                                               Nigeria
23                              United States of America
24                          Iran, Islamic Republic of...
25     United Kingdom of Great Britain and Northern I...
26                                                Turkey
27                                                 India
28                              United States of America
29                                                Poland
30                                                 Kenya
...                                                  ...
23830                                             France
23831                                             Russia
23832                                            Belgium
23833                                             Turkey
23834                                     Czech Republic
23835                                             Israel
23836                                             Russia
23837                                             Turkey
23838                                        Netherlands
23839                                             Turkey
23840                                             Turkey
23841                                              India
23842                                             Russia
23843                                              Spain
23844                                        Netherlands
23845                                            Romania
23846                                              India
23847                                           Pakistan
23848                                            Germany
23849                                             Turkey
23850                                              India
23851                                             Turkey
23852                                             Turkey
23853                                             Turkey
23854                                             Turkey
23855                                             France
23856                                             Turkey
23857                                             Turkey
23858  United Kingdom of Great Britain and Northern I...
23859                                              Spain

                                                      Q4     Q8  \
1                                        Doctoral degree    NaN
2                                      Bachelor’s degree   5-10
3                                        Master’s degree    0-1
4                                        Master’s degree    NaN
5                                        Master’s degree    0-1
6                                      Bachelor’s degree    0-1
7                                        Doctoral degree  10-15
8                                        Master’s degree    0-1
9                                        Master’s degree    NaN
10                                       Master’s degree    3-4
11                                     Bachelor’s degree    3-4
12                                       Master’s degree   5-10
13                                       Doctoral degree    NaN
14                                     Bachelor’s degree    1-2
15                                     Bachelor’s degree    1-2
16                                       Master’s degree    0-1
17                                       Master’s degree    1-2
18                                   Professional degree    2-3
19     Some college/university study without earning ...   5-10
20     Some college/university study without earning ...   5-10
21                                       Master’s degree    0-1
22                                     Bachelor’s degree    NaN
23                                     Bachelor’s degree    2-3
24                                       Master’s degree    0-1
25                                       Master’s degree   5-10
26                                       Master’s degree    1-2
27                                     Bachelor’s degree    2-3
28                                       Master’s degree    2-3
29                                       Master’s degree  10-15
30                                     Bachelor’s degree    2-3
...                                                  ...    ...
23830                                  Bachelor’s degree  20-25
23831                                  Bachelor’s degree    3-4
23832                                  Bachelor’s degree    NaN
23833                                  Bachelor’s degree    0-1
23834                                  Bachelor’s degree    2-3
23835                                  Bachelor’s degree    4-5
23836                                    Master’s degree    2-3
23837                                    Master’s degree    NaN
23838                                    Master’s degree    0-1
23839                                  Bachelor’s degree    1-2
23840                                    Master’s degree    1-2
23841                                    Master’s degree  20-25
23842                                    Master’s degree    0-1
23843                                    Master’s degree    NaN
23844                                    Master’s degree  10-15
23845                                    Master’s degree    0-1
23846               No formal education past high school    NaN
23847                                    Master’s degree    NaN
23848                                    Master’s degree  10-15
23849                                    Master’s degree    NaN
23850                                    Master’s degree    1-2
23851                                    Master’s degree    NaN
23852                                                NaN    NaN
23853                                    Master’s degree    NaN
23854                                    Doctoral degree   5-10
23855                                    Doctoral degree   5-10
23856                                    Master’s degree    NaN
23857                                    Master’s degree    0-1
23858                                                NaN    NaN
23859                                    Master’s degree    NaN

                                                      Q9 Q16_Part_1  \
1                                                    NaN        NaN
2                                              10-20,000        NaN
3                                               0-10,000        NaN
4                                                    NaN     Python
5                                               0-10,000        NaN
6      I do not wish to disclose my approximate yearl...     Python
7                                              10-20,000        NaN
8                                               0-10,000     Python
9                                                    NaN     Python
10                                             20-30,000     Python
11     I do not wish to disclose my approximate yearl...     Python
12                                           125-150,000     Python
13                                             30-40,000     Python
14                                             30-40,000     Python
15                                             10-20,000     Python
16                                             30-40,000     Python
17                                             50-60,000        NaN
18                                              0-10,000     Python
19                                           100-125,000     Python
20                                             30-40,000     Python
21                                             50-60,000        NaN
22                                                   NaN     Python
23                                            90-100,000     Python
24                                              0-10,000     Python
25                                             70-80,000     Python
26                                              0-10,000     Python
27                                              0-10,000     Python
28                                             80-90,000     Python
29                                             10-20,000        NaN
30                                             10-20,000     Python
...                                                  ...        ...
23830                                                NaN        NaN
23831  I do not wish to disclose my approximate yearl...        NaN
23832                                                NaN        NaN
23833                                           0-10,000     Python
23834  I do not wish to disclose my approximate yearl...     Python
23835  I do not wish to disclose my approximate yearl...     Python
23836                                          10-20,000        NaN
23837                                                NaN        NaN
23838  I do not wish to disclose my approximate yearl...        NaN
23839                                           0-10,000        NaN
23840                                                NaN        NaN
23841                                          10-20,000     Python
23842                                           0-10,000     Python
23843                                                NaN     Python
23844                                         90-100,000     Python
23845                                           0-10,000        NaN
23846                                                NaN        NaN
23847                                                NaN     Python
23848  I do not wish to disclose my approximate yearl...        NaN
23849                                                NaN        NaN
23850  I do not wish to disclose my approximate yearl...     Python
23851                                                NaN     Python
23852                                                NaN        NaN
23853                                                NaN        NaN
23854                                          10-20,000        NaN
23855                                        250-300,000     Python
23856                                                NaN        NaN
23857                                          10-20,000        NaN
23858                                                NaN        NaN
23859                                                NaN        NaN

      Q16_Part_2 Q16_Part_3 Q16_Part_4     ...     Q16_Part_8 Q16_Part_9  \
1            NaN        NaN        NaN     ...            NaN        NaN
2            NaN        SQL        NaN     ...            NaN        NaN
3              R        NaN        NaN     ...            NaN     MATLAB
4              R        SQL       Bash     ...            NaN        NaN
5            NaN        SQL        NaN     ...            NaN        NaN
6            NaN        NaN       Bash     ...          C/C++        NaN
7              R        NaN        NaN     ...            NaN        NaN
8            NaN        NaN        NaN     ...            NaN        NaN
9            NaN        NaN        NaN     ...            NaN        NaN
10           NaN        SQL        NaN     ...            NaN        NaN
11             R        SQL        NaN     ...            NaN        NaN
12           NaN        SQL        NaN     ...            NaN        NaN
13             R        SQL       Bash     ...            NaN     MATLAB
14             R        SQL       Bash     ...            NaN        NaN
15             R        SQL        NaN     ...            NaN        NaN
16           NaN        NaN        NaN     ...            NaN        NaN
17             R        NaN        NaN     ...            NaN        NaN
18           NaN        NaN        NaN     ...            NaN        NaN
19           NaN        SQL        NaN     ...            NaN        NaN
20           NaN        NaN       Bash     ...            NaN        NaN
21             R        SQL        NaN     ...            NaN        NaN
22           NaN        NaN        NaN     ...            NaN        NaN
23             R        SQL        NaN     ...            NaN        NaN
24           NaN        NaN        NaN     ...            NaN     MATLAB
25             R        NaN        NaN     ...            NaN        NaN
26           NaN        NaN        NaN     ...          C/C++     MATLAB
27             R        SQL        NaN     ...            NaN        NaN
28             R        SQL        NaN     ...            NaN        NaN
29           NaN        SQL        NaN     ...            NaN        NaN
30           NaN        NaN        NaN     ...            NaN        NaN
...          ...        ...        ...     ...            ...        ...
23830        NaN        NaN        NaN     ...            NaN        NaN
23831        NaN        NaN        NaN     ...            NaN        NaN
23832        NaN        NaN        NaN     ...            NaN        NaN
23833        NaN        SQL        NaN     ...            NaN        NaN
23834          R        NaN        NaN     ...          C/C++        NaN
23835        NaN        SQL        NaN     ...            NaN     MATLAB
23836        NaN        NaN        NaN     ...            NaN        NaN
23837        NaN        NaN        NaN     ...            NaN        NaN
23838        NaN        NaN        NaN     ...            NaN        NaN
23839        NaN        NaN        NaN     ...            NaN        NaN
23840        NaN        SQL        NaN     ...            NaN        NaN
23841        NaN        NaN        NaN     ...            NaN     MATLAB
23842        NaN        SQL        NaN     ...          C/C++        NaN
23843          R        SQL        NaN     ...            NaN        NaN
23844        NaN        SQL       Bash     ...            NaN        NaN
23845        NaN        NaN        NaN     ...            NaN        NaN
23846        NaN        NaN        NaN     ...            NaN        NaN
23847          R        SQL        NaN     ...          C/C++     MATLAB
23848        NaN        NaN        NaN     ...            NaN        NaN
23849        NaN        NaN        NaN     ...            NaN        NaN
23850          R        SQL        NaN     ...          C/C++     MATLAB
23851        NaN        SQL        NaN     ...          C/C++     MATLAB
23852        NaN        NaN        NaN     ...            NaN        NaN
23853        NaN        NaN        NaN     ...            NaN        NaN
23854        NaN        NaN        NaN     ...            NaN        NaN
23855          R        SQL       Bash     ...          C/C++     MATLAB
23856        NaN        NaN        NaN     ...            NaN        NaN
23857        NaN        NaN        NaN     ...            NaN        NaN
23858        NaN        NaN        NaN     ...            NaN        NaN
23859        NaN        NaN        NaN     ...            NaN        NaN

      Q16_Part_10 Q16_Part_11 Q16_Part_12 Q16_Part_13 Q16_Part_14 Q16_Part_15  \
1             NaN         NaN         NaN         NaN         NaN         NaN
2             NaN         NaN         NaN         NaN         NaN         NaN
3             NaN         NaN         NaN         NaN         NaN         NaN
4             NaN         NaN         NaN         NaN         NaN         NaN
5             NaN         NaN         NaN         NaN         NaN         NaN
6             NaN         NaN          Go         NaN         NaN         NaN
7             NaN         NaN         NaN         NaN         NaN         NaN
8             NaN         NaN         NaN         NaN         NaN         NaN
9             NaN         NaN         NaN     C#/.NET         NaN         NaN
10            NaN         NaN         NaN     C#/.NET         NaN         NaN
11            NaN         NaN         NaN         NaN         NaN         NaN
12            NaN         NaN         NaN     C#/.NET         NaN         NaN
13            NaN         NaN         NaN         NaN         NaN         NaN
14            NaN         NaN         NaN     C#/.NET         NaN         NaN
15            NaN         NaN         NaN         NaN         NaN         NaN
16            NaN         NaN         NaN         NaN         NaN         NaN
17            NaN         NaN         NaN         NaN         NaN         NaN
18            NaN         NaN         NaN         NaN         NaN         NaN
19          Scala         NaN         NaN         NaN         PHP         NaN
20            NaN         NaN         NaN         NaN         NaN         NaN
21            NaN         NaN         NaN         NaN         NaN         NaN

In [14]:
### Se realiza la separacion de los paices Latinoamericanos
def latin_countries(data):
    dataC=data[data['Q3']=='Colombia']
    dataCh=data[data['Q3']=='Chile']
    dataP=data[data['Q3']=='Peru']
    dataB=data[data['Q3']=='Brazil']
    dataAr=data[data['Q3']=='Argentina']
    dataMx=data[data['Q3']=='Mexico']

    # Concatening all countries on one matrix
    frames=[dataC,dataCh,dataP,dataB,dataAr,dataMx]
    new_data= pd.concat(frames)
    return new_data
new_data=latin_countries(data)

In [32]:
### Se eliminan de Data los datos que presenten irregularidad o los que no contribuyen a el proposito 
def nans_killer(new_data):
    new_data=new_data.drop(new_data[new_data['Q1']=='Prefer to self-describe'].index)   
    new_data=new_data.drop(new_data[new_data['Q1']=='Prefer not to say'].index)
    new_data=new_data.drop(new_data[new_data['Q4']=='I prefer not to answer'].index)
    new_data=new_data.dropna(axis=0,subset=['Q4'])
    new_data=new_data.dropna(axis=0,subset=['Q8'])
    new_data=new_data.dropna(axis=0,subset=['Q9'])
    new_data=new_data.drop(new_data[new_data['Q9']=='I do not wish to disclose my approximate yearly compensation'].index)
    return new_data
new_data=nans_killer(new_data)
print(new_data)

          Q1     Q2        Q3  \
17      Male  40-44  Colombia
1609    Male  25-29  Colombia
1611    Male  60-69  Colombia
1725    Male  22-24  Colombia
1780    Male  25-29  Colombia
1946    Male  30-34  Colombia
1977    Male  30-34  Colombia
2097    Male  35-39  Colombia
2163    Male  25-29  Colombia
2197    Male  30-34  Colombia
2246    Male  30-34  Colombia
2511    Male  25-29  Colombia
2581    Male  30-34  Colombia
2811  Female  22-24  Colombia
2842    Male  25-29  Colombia
3438    Male  25-29  Colombia
3865    Male  30-34  Colombia
3990    Male  22-24  Colombia
4224    Male  30-34  Colombia
4450    Male  30-34  Colombia
4494    Male  25-29  Colombia
4675    Male  35-39  Colombia
4676    Male  40-44  Colombia
7       Male  35-39     Chile
1121  Female  25-29     Chile
1568    Male  45-49     Chile
1771    Male  25-29     Chile
1887    Male  45-49     Chile
2092    Male  22-24     Chile
2102    Male  30-34     Chile
...      ...    ...       ...
2123    Male  30-34    Mexico
2144    Male  22-24    Mexico
2217    Male  30-34    Mexico
2278    Male  35-39    Mexico
2314    Male  25-29    Mexico
2652    Male  35-39    Mexico
2764  Female  25-29    Mexico
2818    Male  25-29    Mexico
2834    Male  45-49    Mexico
2846    Male  30-34    Mexico
3106  Female  25-29    Mexico
3186    Male  25-29    Mexico
3204    Male  25-29    Mexico
3286    Male  40-44    Mexico
3366    Male  25-29    Mexico
3408    Male  25-29    Mexico
3446    Male  25-29    Mexico
3663    Male  22-24    Mexico
3757    Male  22-24    Mexico
4004    Male  25-29    Mexico
4008    Male  22-24    Mexico
4040    Male  22-24    Mexico
4102    Male  30-34    Mexico
4157    Male  40-44    Mexico
4168    Male  30-34    Mexico
4178    Male  22-24    Mexico
4498    Male  25-29    Mexico
4569    Male  35-39    Mexico
4627    Male  35-39    Mexico
4650    Male  22-24    Mexico

                                                     Q4     Q8           Q9  \
17                                      Master’s degree    1-2    50-60,000
1609                                    Master’s degree    4-5    20-30,000
1611                                    Master’s degree   5-10    30-40,000
1725                                  Bachelor’s degree    1-2    20-30,000
1780                                    Master’s degree    3-4     0-10,000
1946                                    Master’s degree    3-4    10-20,000
1977                                    Master’s degree   5-10     0-10,000
2097                                  Bachelor’s degree    2-3     0-10,000
2163                                    Master’s degree    2-3    20-30,000
2197                                    Master’s degree    1-2    10-20,000
2246                                    Master’s degree    4-5    10-20,000
2511                                Professional degree    1-2     0-10,000
2581                                Professional degree  10-15    20-30,000
2811                                    Master’s degree    1-2    10-20,000
2842                                    Master’s degree    0-1     0-10,000
3438                                  Bachelor’s degree    2-3     0-10,000
3865                                    Master’s degree    0-1  100-125,000
3990                                  Bachelor’s degree    0-1     0-10,000
4224                                    Doctoral degree    2-3  125-150,000
4450                                Professional degree    1-2     0-10,000
4494                                    Master’s degree    2-3    10-20,000
4675                                    Master’s degree   5-10    30-40,000
4676                                    Doctoral degree    3-4    40-50,000
7                                       Doctoral degree  10-15    10-20,000
1121                                    Master’s degree    1-2    10-20,000
1568                                    Master’s degree   5-10    60-70,000
1771                                  Bachelor’s degree    2-3    30-40,000
1887                                    Master’s degree    4-5    40-50,000
2092                                    Master’s degree    0-1     0-10,000
2102                                  Bachelor’s degree    3-4    40-50,000
...                                                 ...    ...          ...
2123                                    Doctoral degree    3-4    20-30,000
2144                                  Bachelor’s degree    3-4     0-10,000
2217                                  Bachelor’s degree    4-5    20-30,000
2278                                    Doctoral degree    2-3    20-30,000
2314                                  Bachelor’s degree    4-5    30-40,000
2652                                    Master’s degree   5-10    10-20,000
2764                                  Bachelor’s degree    2-3    10-20,000
2818                                  Bachelor’s degree    3-4    50-60,000
2834                                    Master’s degree    2-3    10-20,000
2846                                    Master’s degree   5-10    20-30,000
3106                                    Master’s degree    2-3    20-30,000
3186                                  Bachelor’s degree   5-10     0-10,000
3204                                  Bachelor’s degree    1-2    20-30,000
3286                                    Master’s degree  15-20    40-50,000
3366                                    Master’s degree    4-5    40-50,000
3408                                  Bachelor’s degree   5-10    40-50,000
3446                                  Bachelor’s degree    4-5    50-60,000
3663                                  Bachelor’s degree    1-2    10-20,000
3757  Some college/university study without earning ...    0-1     0-10,000
4004                                    Master’s degree    3-4    50-60,000
4008                                  Bachelor’s degree    1-2     0-10,000
4040                                  Bachelor’s degree    0-1     0-10,000
4102                                    Master’s degree   5-10    10-20,000
4157                                    Doctoral degree   5-10    30-40,000
4168                                Professional degree    2-3    10-20,000
4178                                  Bachelor’s degree    0-1     0-10,000
4498                                    Master’s degree    1-2    10-20,000
4569                                    Master’s degree    4-5    50-60,000
4627                                    Master’s degree  10-15    40-50,000
4650                                    Doctoral degree    1-2     0-10,000

     Q16_Part_1 Q16_Part_2 Q16_Part_3 Q16_Part_4     ...     Q16_Part_8  \
17          NaN          R        NaN        NaN     ...            NaN
1609     Python          R        NaN        NaN     ...            NaN
1611        NaN        NaN        NaN        NaN     ...            NaN
1725     Python          R        NaN        NaN     ...            NaN
1780        NaN        NaN        SQL        NaN     ...            NaN
1946     Python          R        NaN       Bash     ...          C/C++
1977     Python        NaN        NaN        NaN     ...            NaN
2097     Python        NaN        NaN        NaN     ...            NaN
2163     Python        NaN        SQL        NaN     ...            NaN
2197     Python          R        SQL        NaN     ...            NaN
2246     Python        NaN        NaN       Bash     ...          C/C++
2511     Python        NaN        NaN        NaN     ...            NaN
2581     Python        NaN        SQL        NaN     ...            NaN
2811     Python          R        SQL        NaN     ...            NaN
2842     Python          R        NaN        NaN     ...            NaN
3438     Python          R        NaN        NaN     ...          C/C++
3865     Python          R        SQL        NaN     ...            NaN
3990     Python        NaN        SQL        NaN     ...            NaN
4224     Python        NaN        SQL       Bash     ...            NaN
4450     Python          R        SQL        NaN     ...            NaN
4494     Python        NaN        SQL        NaN     ...            NaN
4675     Python          R        SQL        NaN     ...            NaN
4676     Python          R        NaN        NaN     ...            NaN
7           NaN          R        NaN        NaN     ...            NaN
1121     Python          R        SQL        NaN     ...            NaN
1568        NaN          R        NaN        NaN     ...            NaN
1771     Python          R        SQL        NaN     ...            NaN
1887     Python          R        NaN        NaN     ...            NaN
2092     Python        NaN        NaN        NaN     ...          C/C++
2102     Python        NaN        SQL        NaN     ...            NaN
...         ...        ...        ...        ...     ...            ...
2123     Python          R        NaN        NaN     ...            NaN
2144     Python        NaN        SQL        NaN     ...            NaN
2217     Python        NaN        NaN        NaN     ...            NaN
2278     Python        NaN        NaN        NaN     ...          C/C++
2314     Python          R        SQL       Bash     ...            NaN
2652     Python        NaN        NaN       Bash     ...          C/C++
2764     Python          R        NaN        NaN     ...            NaN
2818     Python          R        SQL        NaN     ...            NaN
2834     Python          R        SQL        NaN     ...          C/C++
2846     Python          R        SQL        NaN     ...            NaN
3106        NaN        NaN        SQL        NaN     ...            NaN
3186     Python        NaN        NaN        NaN     ...            NaN
3204     Python        NaN        SQL       Bash     ...            NaN
3286     Python          R        SQL        NaN     ...            NaN
3366     Python        NaN        SQL        NaN     ...            NaN
3408     Python          R        SQL       Bash     ...            NaN
3446        NaN        NaN        NaN        NaN     ...            NaN
3663     Python        NaN        NaN        NaN     ...          C/C++
3757     Python          R        SQL        NaN     ...          C/C++
4004     Python          R        SQL        NaN     ...            NaN
4008     Python        NaN        NaN        NaN     ...          C/C++
4040     Python          R        NaN        NaN     ...          C/C++
4102     Python        NaN        NaN       Bash     ...            NaN
4157     Python        NaN        NaN        NaN     ...          C/C++
4168     Python          R        NaN        NaN     ...            NaN
4178     Python          R        NaN        NaN     ...            NaN
4498     Python          R        SQL        NaN     ...          C/C++
4569     Python        NaN        SQL       Bash     ...            NaN
4627        NaN          R        NaN        NaN     ...            NaN
4650     Python        NaN        NaN        NaN     ...          C/C++

     Q16_Part_9 Q16_Part_10 Q16_Part_11 Q16_Part_12 Q16_Part_13 Q16_Part_14  \
17          NaN         NaN         NaN         NaN         NaN         NaN
1609     MATLAB         NaN         NaN         NaN         NaN         NaN
1611        NaN         NaN         NaN         NaN         NaN         NaN
1725        NaN         NaN         NaN         NaN         NaN         NaN
1780        NaN         NaN         NaN         NaN         NaN         PHP
1946     MATLAB         NaN         NaN         NaN         NaN         NaN
1977        NaN         NaN         NaN         NaN         NaN         NaN
2097        NaN         NaN         NaN         NaN         NaN         NaN
2163        NaN         NaN         NaN         NaN         NaN         NaN
2197        NaN         NaN         NaN         NaN         NaN         NaN
2246        NaN         NaN         NaN         NaN         NaN         NaN
2511        NaN         NaN         NaN         NaN         NaN         NaN
2581        NaN         NaN         NaN         NaN     C#/.NET         NaN
2811        NaN         NaN         NaN         NaN         NaN         NaN
2842        NaN         NaN         NaN         NaN         NaN         NaN
3438     MATLAB         NaN         NaN         NaN         NaN         NaN
3865        NaN         NaN         NaN         NaN         NaN         NaN
3990        NaN         NaN         NaN         NaN         NaN         NaN
4224        NaN         NaN         NaN         NaN         NaN         NaN
4450        NaN         NaN         NaN         NaN     C#/.NET         NaN
4494        NaN         NaN         NaN         NaN         NaN         NaN
4675        NaN         NaN         NaN         NaN         NaN         NaN
4676        NaN         NaN         NaN         NaN         NaN         NaN
7           NaN         NaN         NaN         NaN         NaN         NaN
1121        NaN         NaN         NaN         NaN         NaN         NaN
1568        NaN         NaN         NaN         NaN         NaN         NaN
1771        NaN         NaN         NaN         NaN         NaN         NaN
1887        NaN         NaN         NaN         NaN         NaN         NaN
2092        NaN         NaN       Julia         NaN         NaN         NaN
2102        NaN         NaN         NaN         NaN         NaN         NaN
...         ...         ...         ...         ...         ...         ...
2123        NaN         NaN         NaN         NaN         NaN         NaN
2144     MATLAB         NaN         NaN         NaN         NaN         NaN
2217        NaN         NaN         NaN         NaN     C#/.NET         NaN
2278     MATLAB         NaN         NaN         NaN         NaN         NaN
2314        NaN         NaN         NaN         NaN         NaN         NaN
2652        NaN         NaN       Julia         NaN         NaN         NaN
2764        NaN         NaN         NaN         NaN         NaN         NaN
2818        NaN         NaN         NaN         NaN         NaN         NaN
2834        NaN         NaN         NaN         NaN         NaN         NaN
2846        NaN         NaN         NaN         NaN         NaN         NaN
3106     MATLAB         NaN         NaN         NaN         NaN         NaN
3186        NaN         NaN         NaN         NaN         NaN         PHP
3204        NaN         NaN         NaN         NaN         NaN         NaN
3286        NaN         NaN         NaN         NaN         NaN         NaN
3366        NaN         NaN         NaN         NaN         NaN         NaN
3408        NaN         NaN         NaN         NaN         NaN         NaN
3446        NaN         NaN         NaN         NaN     C#/.NET         NaN
3663        NaN         NaN         NaN         NaN         NaN         NaN
3757        NaN         NaN         NaN         NaN     C#/.NET         PHP
4004        NaN         NaN         NaN         NaN         NaN         NaN
4008        NaN         NaN         NaN          Go         NaN         NaN
4040     MATLAB         NaN         NaN         NaN         NaN         NaN
4102        NaN         NaN         NaN         NaN         NaN         NaN
4157        NaN         NaN         NaN         NaN         NaN         NaN
4168        NaN         NaN         NaN         NaN         NaN         NaN
4178        NaN         NaN         NaN         NaN         NaN         NaN
4498     MATLAB         NaN         NaN         NaN         NaN         NaN
4569        NaN         NaN         NaN         NaN         NaN         NaN
4627        NaN         NaN         NaN         NaN         NaN         NaN
4650     MATLAB         NaN         NaN         NaN         NaN         NaN

     Q16_Part_15 Q16_Part_16 Q16_Part_18
17           NaN         NaN         NaN
1609         NaN         NaN         NaN
1611         NaN         NaN         NaN
1725         NaN         NaN         NaN
1780         NaN         NaN         NaN
1946         NaN         NaN         NaN
1977         NaN         NaN         NaN
2097         NaN         NaN         NaN
2163         NaN         NaN         NaN
2197         NaN         NaN         NaN
2246         NaN         NaN         NaN
2511         NaN         NaN         NaN
2581         NaN         NaN         NaN
2811         NaN         NaN         NaN
2842         NaN         NaN         NaN
3438        Ruby         NaN         NaN
3865         NaN         NaN         NaN
3990         NaN         NaN         NaN
4224         NaN         NaN         NaN
4450         NaN         NaN         NaN
4494         NaN         NaN         NaN
4675         NaN         NaN         NaN
4676         NaN         NaN         NaN
7            NaN         NaN         NaN
1121         NaN         NaN         NaN
1568         NaN         NaN         NaN
1771         NaN         NaN         NaN
1887         NaN         NaN         NaN
2092        Ruby         NaN         NaN
2102         NaN         NaN         NaN
...          ...         ...         ...
2123         NaN         NaN         NaN
2144         NaN         NaN         NaN
2217         NaN         NaN         NaN
2278         NaN         NaN         NaN
2314         NaN         NaN         NaN
2652         NaN         NaN         NaN
2764         NaN         NaN         NaN
2818         NaN         NaN         NaN
2834         NaN         NaN         NaN
2846         NaN         NaN       Other
3106         NaN         NaN       Other
3186         NaN         NaN         NaN
3204         NaN         NaN         NaN
3286         NaN         NaN         NaN
3366         NaN         NaN         NaN
3408         NaN         NaN         NaN
3446         NaN         NaN         NaN
3663         NaN         NaN         NaN
3757         NaN         NaN         NaN
4004         NaN         NaN         NaN
4008         NaN         NaN         NaN
4040         NaN         NaN         NaN
4102         NaN         NaN         NaN
4157         NaN         NaN         NaN
4168         NaN   SAS/STATA         NaN
4178         NaN         NaN         NaN
4498         NaN         NaN         NaN
4569         NaN         NaN         NaN
4627         NaN         NaN         NaN
4650         NaN         NaN         NaN

[265 rows x 23 columns]

In [88]:
### Se concatena la matriz final de datos a trabajar
def matrix(data):
    data=data.fillna(0)
    data=data.values
    data=data.T
    #print(data)
    rows=len(data[0])

    matrix=np.zeros((7,rows))
    
    ii=data[0]=='Male'
    matrix[0,ii]=1.0
    matrix[0,~ii]=-1.0
    
    i1=data[1]=='18-21'
    i2=data[1]=='22-24'
    i3=data[1]=='25-29'
    i4=data[1]=='30-34'
    i5=data[1]=='35-39'
    i6=data[1]=='40-44'
    i7=data[1]=='45-49'
    i8=data[1]=='50-54'
    i9=data[1]=='55-59'
    i10=data[1]=='60-69'
    i11=data[1]=='70-79'
    i12=data[1]=='80+'
    matrix[1,i1]=np.mean([18,21])
    matrix[1,i2]=np.mean([22,24])
    matrix[1,i3]=np.mean([25,29])
    matrix[1,i4]=np.mean([30,34])
    matrix[1,i5]=np.mean([35,39])
    matrix[1,i6]=np.mean([40,44])
    matrix[1,i7]=np.mean([45,49])
    matrix[1,i8]=np.mean([50,54])
    matrix[1,i9]=np.mean([55,59])
    matrix[1,i10]=np.mean([60,69])
    matrix[1,i11]=np.mean([70,79])
    matrix[1,i12]=80.0
    
    o1=data[2]=='Colombia'
    o2=data[2]=='Chile'
    o3=data[2]=='Peru'
    o4=data[2]=='Brazil'
    o5=data[2]=='Argentica'
    o6=data[2]=='Mexico'
    matrix[2,o1]=10 
    matrix[2,o2]=20
    matrix[2,o3]=30
    matrix[2,o4]=40
    matrix[2,o5]=50
    matrix[2,o6]=60
    
    a1=data[3]=='Some college/university study without earning a bachelor’s degree'
    a2=data[3]=='Professional degree'
    a3=data[3]=='Bachelor’s degree'
    a4=data[3]=='Master’s degree'    
    a5=data[3]=='Doctoral degree'
    matrix[3,a1]=100 
    matrix[3,a2]=200
    matrix[3,a3]=300
    matrix[3,a4]=400
    matrix[3,a5]=500
    
    a1=data[5]=='0-10,000'
    a2=data[5]=='10-20,000'
    a3=data[5]=='20-30,000'
    a4=data[5]=='30-40,000'
    a5=data[5]=='40-50,000'
    a6=data[5]=='50-60,000'
    a7=data[5]=='60-70,000'
    a8=data[5]=='70-80,000'
    a9=data[5]=='80-90,000'
    a10=data[5]=='90-100,000'
    a11=data[5]=='100-125,000'
    a12=data[5]=='125-150,000'
    a13=data[5]=='150-200,000'
    a14=data[5]=='200-250,000'
    a15=data[5]=='250-300,000'
    a16=data[5]=='300-400,000'
    a17=data[5]=='400-500,000'
    a18=data[5]=='500,000+'
    matrix[4,a1]=786
    matrix[4,a2]=865
    matrix[4,a3]=322
    matrix[4,a4]=124
    matrix[4,a5]=325
    matrix[4,a6]=741
    matrix[4,a7]=965
    matrix[4,a8]=564
    matrix[4,a9]=624
    matrix[4,a10]=523
    matrix[4,a11]=693
    matrix[4,a12]=800
    matrix[4,a13]=738
    matrix[4,a14]=239
    matrix[4,a15]=469
    matrix[4,a16]=697
    matrix[4,a17]=108
    matrix[4,a18]=809
    
    a1=data[4]=='0-1'
    a2=data[4]=='1-2'
    a3=data[4]=='2-3'
    a4=data[4]=='3-4'
    a5=data[4]=='4-5'
    a6=data[4]=='5-10'
    a7=data[4]=='10-15'
    a8=data[4]=='15-20'
    a9=data[4]=='20-25'
    a10=data[4]=='25-30'
    a11=data[4]=='30+'
    matrix[5,a1]=0.5
    matrix[5,a2]=1.5
    matrix[5,a3]=2.5
    matrix[5,a4]=3.5
    matrix[5,a5]=4.5
    matrix[5,a6]=7.5
    matrix[5,a7]=12.5
    matrix[5,a8]=17.5
    matrix[5,a9]=22.5
    matrix[5,a10]=27.5
    matrix[5,a11]=30
    rang=np.arange(8,22,1)
    for j in range(rows):
        cont=0
        for i in rang:
            if(data[i,j]!=0):
                cont=cont+1
        matrix[6,j]=cont
    

    
    return matrix.T
matrix=matrix(new_data)
index=np.arange(0,265,1)
columns=np.arange(0,7,1)
Data=pd.DataFrame(matrix,index=index,columns=columns)

In [89]:
y=Data[4]
Data = Data.drop([4],axis=1)

predictors = list(Data.keys())
train_data, test_data , y_train , y_test = sklearn.model_selection.train_test_split(Data,y, train_size=0.5)
modelos = {}

/srv/conda/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [90]:
### Usando LR
model_lr = sklearn.linear_model.LogisticRegression()
model_lr.fit(train_data[predictors], y_train)
modelos['LR'] = model_lr

/srv/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/srv/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [91]:
### Usando LDA
model_lda = sklearn.discriminant_analysis.LinearDiscriminantAnalysis()
model_lda.fit(train_data[predictors], y_train)
modelos['LDA'] = model_lda

In [94]:
for k in modelos.keys():
    probas = modelos[k].predict_proba(test_data[predictors])
    precision, recall, _ = sklearn.metrics.precision_recall_curve(y_test, probas[:,1])
    ii = np.argsort(recall)
    area = scipy.integrate.trapz(precision[ii], recall[ii])
    plt.plot(recall, precision, label=k+' area: {:.3f}'.format(area))
plt.legend()
plt.xlabel('Recall')
plt.ylabel('Precision')

AttributeError: 'DataFrame' object has no attribute 'Target'